<template id="tableListItemTemplate">
        <li class="tableListItem"><h2>Tabelka</h2></li>
</template>

<template id="tableViewTemplate">
        <table id="tableView">
                <thead>
                        <tr>
                        <th class="tableViewHeader">Header</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                        <td class="tableViewBody">Data</td>
                        </tr>
                </tbody>
        </table>

</template>