<div id="app">

<div id="navigation">
    <ul id="tablesList" class="tablesList">
    </ul>
</div>
<div id="content">
     <table id="tableView">
                <caption class="tableViewCaption">Tabela</caption>
                <thead>
                        <tr>
                        <th class="tableViewHeader">Header</th>
                        <th class="tableViewHeader">Header</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                        <td class="tableViewBody">Data</td>
                        <td class="tableViewBody">Data</td>
                        <td class="tableViewBody">Data</td>
                        </tr>
                </tbody>
        </table>
</div>



<div id="stmtArea">
        <input type="text" id="stmtText">
        <input type="button" id="sendStmt" value="Send Statement">
</div>


{{> template}}

</div>