.testButton
{
    position:absolute;
    bottom: 0;
}
.tableView
{
    text-align: center;
    border: 1px dashed black;
    padding: 5px;
}
.tableViewCaption
{
    text-align: left;
}
.selectedRow
{
    background-color: bisque;
}
